.homepage {
  background-color: rgb(209, 203, 203);
  max-width: 1280px;
  height: 1000px;
  min-height: 100vh;
  color: #fff;
}
.homepage-intro {
  padding: 50px;
}
.homepage-intro > p > span {
  font-size: 50px;
  color: #680ea0;
}
.homepage-intro > p {
  color: grey;
  font-size: 22px;
  text-align: center;
}
