.homepage {
  background-color: antiquewhite;
  min-height: 100vh;
  color: #fff;
}
.homepage-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-intro > p > span {
  font-size: 50px;
  color: #680ea0;
}
.homepage-intro > p {
  color: grey;
  font-size: 22px;
}
p {
  color: grey;
  font-size: 22px;
}
